@model BlockCalculatorViewModel
@{

    <div class="contact-area section-padding-0-80">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h3>Смятане по етикет</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="contact-form-area">
                        <form action="#" method="post">
                            <div class="row">
                                <div class="col-12 col-lg-6">
                                    <input type="text" class="form-control" id="fat" placeholder="Мазнини в 100гр." name="Fat">
                                </div>
                                <div class="col-12 col-lg-6">
                                    <input type="text" class="form-control" id="protein" placeholder="Протеин в 100гр." name="Protein">
                                </div>
                                <div class="col-12 col-lg-6">
                                    <input type="text" class="form-control" id="carbohydrat" placeholder="Въглехидрати в 100гр." name="Carbohydrat">
                                </div>
                                <div class="col-12 col-lg-6">
                                    <input type="text" class="form-control" id="fibers" placeholder="Фибри в 100гр." name="Fibеrs">
                                </div>

                                <div class="col-12 col-lg-6">
                                    <input type="text" class="form-control" id="weight" placeholder="Грамаж на продукта" name="Weight">
                                </div>
                                <div class="col-12 text-center">
                                    <button class="btn delicious-btn mt-30" type="submit">Изчисли</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
