@model ZoneDietApp.Data.Models.BlockCalculatorResult

<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>Резултат:</h3>
            <p>Мазнини: @Model.Fat</p>
            <p>Протеин: @Model.Protein</p>
            <p>Въглехидрати: @Model.Carbohydrat</p>
            <p>Тегло: @Model.Weight</p>
        </div>
    </div>
</div>