<div class="breadcumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/vegetables.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-text text-center">
                    <h2>ZoneDietApp</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Contact Information Area Start ##### -->
<div class="contact-information-area section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="logo mb-80">
                    <img src="~/img/core-img/logo2.png" alt="">
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Contact Text -->
            <div class="col-12 col-lg-5">
                <div class="contact-text">
                    <p>404 Page Not Found</p>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}